{{ define "dashboard_header.html" }}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/src/output.css" rel="stylesheet">
	<link rel="stylesheet" href="/src/vendor/sweetalert2/sweetalert2.min.css">
	<script src="/src/vendor/sweetalert2/sweetalert2.all.min.js"></script>
	<title>{{ .title }}</title>
</head>

<body class="bg-gray-50">
	<!-- Sidebar -->
	<aside class="fixed left-0 top-0 h-full  w-64 bg-gray-800 text-white shadow-lg overflow-y-auto">
		<div class="p-6 border-b border-gray-700">
			<h1 class="text-2xl font-bold text-white">HMS</h1>
			<p class="text-sm text-gray-400 mt-1">Hotel Management</p>
		</div>
		
		<nav class="mt-6">
			<ul class="space-y-2 px-3">
				<li>
					<a href="#" class="flex items-center px-4 py-3 text-gray-300 hover:bg-gray-700 hover:text-white rounded-lg transition duration-200">
						<span>Home</span>
					</a>
				</li>
				<li>
					<a href="/roles" class="flex items-center px-4 py-3 text-gray-300 hover:bg-gray-700 hover:text-white rounded-lg transition duration-200">
						<span>Roles</span>
					</a>
				</li>
				<li>
					<a href="/facility" class="flex items-center px-4 py-3 text-gray-300 hover:bg-gray-700 hover:text-white rounded-lg transition duration-200">
						<span>Facility</span>
					</a>
				</li>
				<li>
					<a href="/service" class="flex items-center px-4 py-3 text-gray-300 hover:bg-gray-700 hover:text-white rounded-lg transition duration-200">
						<span>Services</span>
					</a>
				</li>
				<li>
					<a href="/rooms" class="flex items-center px-4 py-3 text-gray-300 hover:bg-gray-700 hover:text-white rounded-lg transition duration-200">
						<span>Rooms</span>
					</a>
				</li>
				<li>
					<a href="/test" class="flex items-center px-4 py-3 text-gray-300 hover:bg-gray-700 hover:text-white rounded-lg transition duration-200">
						<span>Rooms</span>
					</a>
				</li>
			</ul>
		</nav>
	</aside>

	<!-- Main Content Area -->
	<div class=" min-h-screen flex flex-col bg-amber-500 border-2" style="margin-left: 150px; ">
		<main class="flex-1 p-6">
{{ end }}